<!-- app.component.html -->
<div class="grid-container">
  <div class="RandOben">
    <!-- Inhalt für RandOben -->
  </div>
  <div class="Header">
    <!-- Inhalt für den Header -->
  </div>
  <div class="BlauerBalken"></div>
  <div class="MenuButtonsbalken">
    <button class="menu-button">Klick mich!</button>
    <button class="menu-button">Klick mich!</button>
    <button class="menu-button">Klick mich!</button>
  </div>
  <div class="Body">
    <div class="TestfeldHintergrund">
      <div class="Datum">
        <div class="day">03</div>
        <div class="month">August</div>
      </div>
      <div class="TestfeldHintergrund">
        <div class="Datum">
          <div class="day">03</div>
          <div class="month">August</div>
        </div>
        <div class="TesthinhaltFeld">
          <h3>Überschrift meiner Webseite die Neuigkeiten</h3>
          <p>Lorem ipsum semper habeo duo, ut vis. Aliquam eu splendide...</p>
        </div>
      </div>
    </div>
    <div class="Footer">
      <p>© 2024 Copyright by Pascal Ruge | SoftwareEntwicklung-Ruge.de</p>
      <p>Alle Rechte vorbehalten. | All rights reserved. ©</p>
    </div>
    <div class="RandLinks"></div>
    <div class="RandRechts"></div>
    <div class="RandUnten"></div>
  </div>
</div>
  
