
/* Grid Container für das Hauptlayout */
.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.8fr 1.8fr 14fr;
    grid-template-rows: 0.2fr 1.8fr 0.0fr;
    background-color: #1E1E1E;
    grid-template-areas:
        "RandOben RandOben RandOben RandOben RandOben RandOben"
        "RandLinks Header Header Header Header RandRechts"
        "RandLinks BlauerBalken BlauerBalken BlauerBalken BlauerBalken RandRechts"
        "RandLinks MenuButtonsbalken MenuButtonsbalken MenuButtonsbalken MenuButtonsbalken RandRechts"
        "RandLinks Body Body Body Body RandRechts"
        "RandLinks Body Body Body Body RandRechts"
        "RandLinks Footer Footer Footer Footer RandRechts"
        "RandLinks RandUnten RandUnten RandUnten RandUnten RandRechts";
}

/* Globale Media Queries für Responsive Design */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "Header"
            "BlauerBalken"
            "MenuButtonsbalken"
            "Body"
            "Footer";
    }
}
.RandOben { 
  grid-area: RandOben;
  background-color: #1E1E1E;
  height: 90px;
}

.RandUnten { 
  grid-area: RandUnten;
  background-color: #1E1E1E;
  height: 40px;
}

.Header { 
  grid-area: Header;
  background-image: url('/src/app/Images/header.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  padding: 120px;
}

.BlauerBalken { 
  grid-area: BlauerBalken;
  background-color: #15283A;
  height: 60px;
  border: 1px solid #D2D2D2;
  box-shadow: inset 0 0 0 1px #D2D2D2;
}

.MenuButtonsbalken { 
  grid-area: MenuButtonsbalken;
  background-color: #15283A;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.menu-button {
  background-color: #15283A;
  background-image: linear-gradient(to top, #F2F2F2, #FFFFFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border: 1px solid #D2D2D2;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  cursor: default;
  transition: background-color 0.3s;
  text-shadow: 0 0 5px rgba(6, 196, 248, 0.8);
}

.menu-button:hover {
  background-color: #0c2032;
}

.Footer { 
  grid-area: Footer;
  background-color: #15283A;
  color: white;
  text-align: center;
  height: 60px;
  padding: 70px 0px 0px 0px;
  margin: 0px 0px;
  font-size: 14px;
}

.Footer p {
  margin: 0;
}

.Body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "TextFeld";
  grid-area: Body;
  background-color: #F3F3F3;
  color: #ffffff;
  border: 1px solid #ffffff;
}
body {
  margin: 0;
  font-family: Outfit, sans-serif;
}
